:root {
    --sidebar-back: #3486de;
    --sidebar-front: rgb(221, 221, 221);
    --sidebar-hover: white;
    --hamburger-hover: #82aedd;
    --transSpeed: 0.5s;
    --textColor: rgb(250, 250, 250);
}

* {
    padding: 0;
    color: var(--textColor);
}

html,
body {
    font-family: sans-serif;
    margin: 0px;
}

h1 {
    font-size: 10vh;
    margin: 3vh;
}

h2 {
    text-align: center;
    font-size: 4vh;
    margin: 2vh;
}

p {
    font-size: 1vh;
    margin: 0.5vh;
}

video {
    width: 30vw;
    height: auto;
}

img {
    width: 30vw;
    height: auto;
}

.text {
    color: #ffffff;
    transition: inherit;
    word-wrap: break-word;
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    transition: var(--transSpeed);
}

.content {
    text-align: center;
    margin-left: 9vw;
    width: 82vw;
    transition: var(--transSpeed);
    top: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    top: 0;
    right: 0;
    z-index: -100;
    transition: var(--transSpeed);
}

.blank {
    width: 100vw;
    height: 100vh;
}

#background {
    width: 100vw;
    height: 500vh;
    background-image: url("images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow-y: visible;
    overflow-x: hidden;
    top: 0px;
    left: 0;
    position: fixed;
    z-index: -2;
    transition: var(--transSpeed);
}

.section {
    width: 100%;
    left: 0;
    position: relative;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: min(6vw, 4.5vh);
}

#title {
    width: 100%;
    height: 20vh;
    top: 0;
    left: 0;
    position: relative;
    padding-top: 40vh;
    padding-bottom: 40vh;
    font-size: min(12vw, 9vh);
}

.subtitle {
    width: 100%;
    height: 5vh;
    position: relative;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    font-size: min(6vw, 4.5vh);
}

.para {
    width: 100%;
    height: 60vh;
    font-size: min(2.5vw, 3.5vh);
    display: inline-block;
    position: relative;
}

.textContainer {
    display: inline-block;
    width: 60%;
    height: 60vh;
    position: relative;
}

.innerText {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.imgContainer {
    display: inline-block;
    width: 35%;
    height: 60vh;
}

.secImg {
    top: -50%;
    height: 100%;
    align-items: center;
}

img {
    object-fit: contain;
    height: 100%;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #82aedd5b;
    color: white;
    width: auto;
    height: 4vh;
    padding-top: 0.5vh;
    overflow-x: hidden;
}

.footerInner {
    word-wrap: break-word;
    text-align: center;
    width: 82vw;
    margin-left: 9vw;
    transition: var(--transSpeed);
    font-size: min(2vw, 2.8vh);
}

.tab {
    display: inline-block;
    margin-left: 15vw;
}

a {
    text-decoration: none;
}

a:link.com {
    color: var(--textColor);
}

a:active {
    color: var(--textColor);
}

a:visited {
    color: var(--textColor);
}

a:hover {
    color: var(--textColor);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-back);
    overflow-x: hidden;
    padding-top: 3.5vh;
    transition: var(--transSpeed);
    white-space: nowrap;
}

/* The navigation menu links */
.sidenav a {
    z-index: 3;
    padding: 0.5vw 0.5vw 0.5vw 1.5vw;
    text-decoration: none;
    font-size: 1.5vw;
    color: var(--sidebar-front);
    display: block;
    transition: var(--transSpeed);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--sidebar-hover);
}

#leftCol {
    padding-top: 1.5vh;
    padding-left: 1.5vw;
    z-index: 2;
    transition: var(--transSpeed);
    position: fixed;
}


.iconContainer {
    cursor: pointer;
    display: inline-block;
}


.bar1,
.bar2,
.bar3 {
    width: 2.1vw;
    height: 0.3vw;
    max-width: 28px;
    max-height: 4px;
    background-color: var(--sidebar-back);
    transition: var(--transSpeed);
}

.gap {
    width: 2.1vw;
    height: 0.6vw;
    max-width: 28px;
    max-height: 8px;
    background-color: transparent;
}


.change .bar1 {
    -webkit-transform: translate(0, 300%) rotate(135deg) scale(1.2, 1.2);
    transform: translate(0, 300%) rotate(135deg) scale(1.2, 1.2);
    background-color: var(--sidebar-front);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: translate(0, -300%) rotate(-135deg) scale(1.2, 1.2);
    transform: translate(0, -300%) rotate(-135deg) scale(1.2, 1.2);
    background-color: var(--sidebar-front);
}

.white .bar1,
.white .bar2,
.white .bar3 {
    background-color: var(--sidebar-hover);
}

.blue .bar1,
.blue .bar2,
.blue .bar3 {
    background-color: var(--hamburger-hover);
}


/* Entire scrollbar */
::-webkit-scrollbar {
    display: none;
    background: transparent;
    width: 1vw;

}

/* Total scrollbar that bar can move in */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
}

/* Scrolling handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0, 0.4);
}

/* Corner of (up/down) and (left/right) bars */
::-webkit-scrollbar-corner {
    background: rgb(0, 0, 0, 0.1);
}